@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/** {*/
/*    box-sizing: border-box;*/
/*}*/
@media screen and (max-width: 768px) {

    }




    body {
    box-sizing: border-box;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
    padding: .5em .5em;
}

h1 {
    font-size: 50px;
    margin-top: .1em;
    margin-bottom: .3em;
}

h1, .nav-links, .alert-info {
    text-align: center;
    list-style: none;
}

.alert-info {
    display: flex;
    width: auto;
    height: 3em;
    background: RGB(214, 254, 254);
    border: 1px solid rgb(197, 197, 197);
}

.nav-links {
    flex-direction: column;
    margin: auto;
    padding: 0;
    display: flex;
}

.alert-info a {
    margin: auto;
    text-decoration: none;
    color: black;
}

li {
    background: RGB(204, 204, 204);
    border: 2px dimgrey;
    margin: .5em 0;
    padding: 1em;
}

.header-img {
    display:flex;
    flex-direction: column;
    margin-top: .5em;
    width: 100%;
}

.sub-section {
    margin-bottom: 5em;
}